html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: $blueish;
    color: white;
    margin: 0;
    height: 100%;
}

body #root {
    height: 100%;
}

.router {
    height: 100%;
    display: flex;
    flex-flow: column;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}
